[Unit]
After=network.target
Description=NamozAPI.uz

[Service]
Type=simple
WorkingDirectory=/var/www/html
ExecStart=/usr/local/bin/uvicorn api:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
